.obsidian/workspace.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/matadata-extractor/allExceptMd.json
.obsidian/plugins/matadata-extractor/metadata.json
.obsidian/plugins/matadata-extractor/tags.json
.obsidian/plugins/recent-files-obsidian/data.json
